# note that this gitignore incldued mostly links
# all of these files are found in the corresponding directory
# or can be found in another repository

pyglob
unsuffix
filtercov
waitfor
quickfilter
bedsync
full
nuclear
clip4bw
quickbg
backup
suffix
quickfix
quickcut
wig2bw
tree
lesswich
fixdmap
prefix
unprefix
quickclip
mapped_reads
wigproc
resubmit_qsub
bed2cov
quickbw
bed2meth
vimwich
archive
checkfolder
.*.swp
HPG_README.md
bin
rust
process_bed
rg
slurm_state
prepare_copy
dmap2_reads
