pyglob
unsuffix
filtercov
waitfor
quickfilter
bedsync
full
nuclear
clip4bw
quickbg
backup
suffix
quickfix
quickcut
wig2bw
tree
lesswich
fixdmap
prefix
unprefix
quickclip
mapped_reads
wigproc
resubmit_qsub
bed2cov
quickbw
bed2meth
vimwich
