.*.sw*
__pycache__/*
LOCAL_README.md
# old programs kept for posterity
archive/*
# other binaries
bin/*

# files below this point are links to other programs
# all of these files can be found either in this repo or in another repo,
# depending upon their author

annotateFiles.py
backup
bed2cov
bed2meth
checkfolder
clip4bw
dmap2_reads
filtercov
fixdmap
full
ironbed
lesswich
mapped_reads
nuclear
poolbed
prefix
prepare_copy
prepare_metilene
process_bed
pyglob
quickbg
quickbw
quickclip
quickcut
quickfilter
quickfix
quickprocbed
resubmit_qsub
rg
slurm_state
suffix
tree
unprefix
unsuffix
vimwich
waitfor
wig2bw
wigproc
